doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"  rel="stylesheet")
            link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
            link(rel="stylesheet" href="/css/style.css")
            title Natours | #{title}
    body 
        // header
        include _header

        // Content
        block content
            h1 this is a placeholder heading

        // footer
        include _footer

        //- script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js",type="module")
        //- script(src="/js/mapbox.js")
        //- script(src="/js/login.js")
        script(src="/js/bundle.js")



